In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import math

In [2]:
table_1 = pd.read_csv(r"C:\Users\Nursulu_1\Downloads\BMW_intern_GenAI_coding_task_orig\BMW_intern_GenAI_coding_task\data\table_1.csv", sep=';')
table_2 = pd.read_csv(r"C:\Users\Nursulu_1\Downloads\BMW_intern_GenAI_coding_task_orig\BMW_intern_GenAI_coding_task\data\table_2.csv", sep=';')

Extract features by ID and map them to labels.

In [3]:
table_2

      POUG    TRE    ID ZUB VOL   UIO VBNM Type    OIN
0        1  1.750     0   t   f  uuuu    t    n  17.92
1        0  0.290     1   f   f  wwww    f    n  16.92
2        1  0.000     2   f   f  wwww    t    n  31.25
3        0  0.335     3   f   f  uuuu    f    n  48.17
4        0  0.500     4   t   f  wwww    f    n  32.33
...    ...    ...   ...  ..  ..   ...  ...  ...    ...
4065    14  5.500  3314   f   t  uuuu    t    y  52.83
4066     7  0.750   999   f   t  uuuu    t    y  19.17
4067     0  5.000  2415   t   t  uuuu    f    y  36.75
4068     0  0.835   511   f   t  wwww    f    y  23.25
4069     0  0.665  2684   f   t  wwww    f    y  22.08

[4070 rows x 9 columns]

In [4]:
id_order = list(table_2['ID'])

In [5]:
len(id_order)

4070

In [6]:
len(set(id_order))

3700

In [7]:
table_2[table_2['ID']==305]

      POUG   TRE   ID ZUB VOL   UIO VBNM Type    OIN
305      0  3.25  305   f   f  uuuu    f    n  22.25
3784     0  3.25  305   f   f  uuuu    f    n  22.25
3827     0  3.25  305   f   f  uuuu    f    n  22.25
4044     0  3.25  305   f   f  uuuu    f    n  22.25

Remove duplicates

In [8]:
table_2 = table_2.drop_duplicates(subset=['ID'])
table_1 = table_1.drop_duplicates(subset=['ID'])

In [9]:
len(table_2)

3700

In [10]:
id_order = list(table_2['ID'])

In [11]:
table_1['ID'] = pd.Categorical(table_1['ID'], categories=id_order, ordered=False)

In [12]:
table_2

      POUG    TRE    ID ZUB VOL   UIO VBNM Type    OIN
0        1  1.750     0   t   f  uuuu    t    n  17.92
1        0  0.290     1   f   f  wwww    f    n  16.92
2        1  0.000     2   f   f  wwww    t    n  31.25
3        0  0.335     3   f   f  uuuu    f    n  48.17
4        0  0.500     4   t   f  wwww    f    n  32.33
...    ...    ...   ...  ..  ..   ...  ...  ...    ...
3695     5  2.710  3695   f   t  uuuu    t    y  18.75
3696     5  8.500  3696   t   t  uuuu    t    y  23.50
3697    12  4.500  3697   t   t  wwww    t    y  34.17
3698     5  3.750  3698   t   t  wwww    t    y  27.83
3699     0  5.000  3699   t   t  uuuu    f    y  36.75

[3700 rows x 9 columns]

In [13]:
table_1

        ID  UKL  GJAH  ZIK   HUI   ERZ      CDx BJZHD  NKJUD        LPI  BJKG
0        0  160  oooo    x  oooo   www      5.0  vvvv   80.0   800000.0  qqqq
1        1  153   rrr  NaN   uuu  pppp      0.0   mmm  200.0  2000000.0  qqqq
2        2    5  oooo    x  oooo   www     19.0    hh   96.0   960000.0    hh
3        3    9  oooo  NaN  oooo   www    120.0   kkk    0.0        0.0   qqq
4        4   40  oooo    y  oooo   www      0.0   mmm  232.0  2320000.0  qqqq
...    ...  ...   ...  ...   ...   ...      ...   ...    ...        ...   ...
3695  3695   74  oooo    x  oooo   www  26726.0   sss    NaN        NaN  qqqq
3696  3696  179  oooo    x  oooo   www      0.0   sss  120.0  1200000.0  qqqq
3697  3697   82  oooo  NaN  oooo   www    221.0  vvvv    0.0        0.0  qqqq
3698  3698   13  oooo  NaN  oooo   www      3.0   yyy  100.0  1000000.0  qqqq
3699  3699   57  oooo    y  oooo   www   4000.0   ggg    0.0        0.0  qqqq

[3700 rows x 11 columns]

Merge tables

In [14]:
data = pd.merge(table_1, table_2, on='ID', how='inner')

In [15]:
data

,ID,UKL,GJAH,ZIK,HUI,ERZ,CDx,BJZHD,NKJUD,LPI,BJKG,POUG,TRE,ZUB,VOL,UIO,VBNM,Type,OIN
0,0,160,oooo,x,oooo,www,5.0,vvvv,80.0,800000.0,qqqq,1,1.750,t,f,uuuu,t,n,17.92
1,1,153,rrr,NaN,uuu,pppp,0.0,mmm,200.0,2000000.0,qqqq,0,0.290,f,f,wwww,f,n,16.92
2,2,5,oooo,x,oooo,www,19.0,hh,96.0,960000.0,hh,1,0.000,f,f,wwww,t,n,31.25
3,3,9,oooo,NaN,oooo,www,120.0,kkk,0.0,0.0,qqq,0,0.335,f,f,uuuu,f,n,48.17
4,4,40,oooo,y,oooo,www,0.0,mmm,232.0,2320000.0,qqqq,0,0.500,t,f,wwww,f,n,32.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3695,3695,74,oooo,x,oooo,www,26726.0,sss,NaN,NaN,qqqq,5,2.710,f,t,uuuu,t,y,18.75
3696,3696,179,oooo,x,oooo,www,0.0,sss,120.0,1200000.0,qqqq,5,8.500,t,t,uuuu,t,y,23.50
3697,3697,82,oooo,NaN,oooo,www,221.0,vvvv,0.0,0.0,qqqq,12,4.500,t,t,wwww,t,y,34.17
3698,3698,13,oooo,NaN,oooo,www,3.0,yyy,100.0,1000000.0,qqqq,5,3.750,t,t,wwww,t,y,27.83
3699,3699,57,oooo,y,oooo,www,4000.0,ggg,0.0,0.0,qqqq,0,5.000,t,t,uuuu,f,y,36.75

Let's examine each feature type

In [16]:
#UKL: ints, range

print(min(list(data['UKL'])))
print(max(list(data['UKL'])))
print(np.mean(list(data['UKL'])))
print(data['UKL'].median())
print(data['UKL'].mode())

1
179
95.68837837837837
99.0
0    1
Name: UKL, dtype: int64

In [17]:
#GJAH
Counter(list(data["GJAH"]))

Counter({'oooo': 3055, 'rrr': 549, nan: 64, 'ii': 32})

In [18]:
#GJAH
Counter(list(data["ZIK"]))

Counter({'x': 1023, nan: 2145, 'y': 532})

ZIK feature seems not so useful, as the majority samples don't have any value for it.

In [28]:
#GJAH
Counter(list(data["HUI"]))

Counter({'oooo': 3430, 'uuu': 189, 'rrr': 81})

In [31]:
#GJAH
Counter(list(data["ERZ"]))

Counter({'www': 3055, 'pppp': 549, nan: 64, 'nnn': 32})

In [33]:
#CDx

print(min(list(data['CDx'])))
print(max(list(data['CDx'])))
print(np.mean(list(data['CDx'])))
print(data['CDx'].median())
print(data['CDx'].mode())

0.0
100000.0
2246.705945945946
113.0
0    0.0
Name: CDx, dtype: float64

In [34]:
Counter(list(data["BJZHD"]))

Counter({'vvvv': 787,
         'mmm': 170,
         'hh': 136,
         'kkk': 191,
         'lll': 39,
         'sss': 612,
         'yyy': 457,
         'ooo': 179,
         'ee': 553,
         'xxx': 33,
         'zzz': 340,
         'ggg': 137,
         nan: 66})

In [36]:
print(min(list(data['NKJUD'])))
print(max(list(data['NKJUD'])))
print(np.mean(list(data['NKJUD'])))
print(data['NKJUD'].median())
print(data['NKJUD'].mode())

0.0
1160.0
nan
120.0
0    0.0
Name: NKJUD, dtype: float64

In [38]:
print(min(list(data['LPI'])))
print(max(list(data['LPI'])))
print(np.mean(list(data['LPI'])))
print(data['LPI'].median())
print(data['LPI'].mode())

0.0
11600000.0
nan
1200000.0
0    0.0
Name: LPI, dtype: float64

In [57]:
Counter(list(data["BJKG"]))

Counter({'qqqq': 2081,
         'hh': 154,
         'qqq': 17,
         'hhhh': 970,
         'lll': 37,
         'yy': 359,
         'ppp': 33,
         'bbb': 49})

In [40]:
Counter(list(data["POUG"]))

Counter({1: 367,
         0: 1461,
         2: 227,
         3: 260,
         5: 193,
         15: 64,
         20: 16,
         11: 193,
         4: 130,
         12: 80,
         7: 161,
         9: 80,
         14: 32,
         6: 194,
         10: 34,
         16: 48,
         8: 64,
         19: 16,
         23: 16,
         13: 16,
         67: 16,
         40: 16,
         17: 16})

In [54]:
print(min(list(data['TRE'])))
print(max(list(data['TRE'])))
print(np.mean(list(data['TRE'])))
print(data['TRE'].median())
print(data['TRE'].mode().iloc[0])

0.0
28.5
3.4394959459459455
1.75
0.0

In [52]:
a = data['TRE'].mode()

In [53]:
a

0    0.0
Name: TRE, dtype: float64

In [43]:
Counter(list(data["ZUB"]))

Counter({'t': 1776, 'f': 1924})

In [44]:
Counter(list(data["VOL"]))

Counter({'f': 529, 't': 3171})

In [45]:
Counter(list(data["UIO"]))

Counter({'uuuu': 1279, 'wwww': 2382, nan: 39})

In [46]:
Counter(list(data["VBNM"]))

Counter({'t': 2239, 'f': 1461})

In [51]:
print(min(list(data['OIN'])))
print(max(list(data['OIN'])))
print(np.mean(list(data['OIN'])))
print(data['OIN'].median())
print(data['OIN'].mode())

13.75
80.25
True
28.67
0    23.25
Name: OIN, dtype: float64

In [49]:
Counter(list(data["Type"]))

Counter({'n': 276, 'y': 3424})

Impute missing values of the numerical features, for example by replacing them with the mean value for the respective feature.

In [19]:
# Iterate through rows of the penguins df
for index, row in data.iterrows():
    for column_name, value in row.items():
        # Check for NaN values
        if isinstance(value, (int, float)) and math.isnan(value):
            try:
                # replace NaN values of numerical features with the mean value for the respective feature over all data
                mode_value = data[column_name].mode().iloc[0]
                data.at[index, column_name] = mode_value
                # if the NaN value is a non-numerical feature, don't do anything
            except TypeError:
                continue

Check if variables are correlated

In [22]:
feature_floats = data.select_dtypes(include=['float64'])

In [23]:
feature_names = list(feature_floats.columns)

In [24]:
correlations = data[feature_names].corr()

In [25]:
correlations

            CDx     NKJUD       LPI       TRE       OIN
CDx    1.000000  0.145232  0.145232 -0.004123 -0.007921
NKJUD  0.145232  1.000000  1.000000 -0.195718 -0.149966
LPI    0.145232  1.000000  1.000000 -0.195718 -0.149966
TRE   -0.004123 -0.195718 -0.195718  1.000000  0.511143
OIN   -0.007921 -0.149966 -0.149966  0.511143  1.000000

In [26]:
data.columns

Index(['ID', 'UKL', 'GJAH', 'ZIK', 'HUI', 'ERZ', 'CDx', 'BJZHD', 'NKJUD',
       'LPI', 'BJKG', 'POUG', 'TRE', 'ZUB', 'VOL', 'UIO', 'VBNM', 'Type',
       'OIN'],
      dtype='object')

In [72]:
from sklearn.preprocessing import LabelEncoder

In [73]:
print(data.dtypes)

ID         int64
UKL        int64
GJAH      object
ZIK       object
HUI       object
ERZ       object
CDx      float64
BJZHD     object
NKJUD    float64
LPI      float64
BJKG      object
POUG       int64
TRE      float64
ZUB       object
VOL       object
UIO       object
VBNM      object
Type      object
OIN      float64
dtype: object

In [74]:
data.head()

,ID,UKL,GJAH,ZIK,HUI,ERZ,CDx,BJZHD,NKJUD,LPI,BJKG,POUG,TRE,ZUB,VOL,UIO,VBNM,Type,OIN
0,0,160,oooo,x,oooo,www,5.0,vvvv,80.0,800000.0,qqqq,1,1.750,t,f,uuuu,t,n,17.92
1,1,153,rrr,x,uuu,pppp,0.0,mmm,200.0,2000000.0,qqqq,0,0.290,f,f,wwww,f,n,16.92
2,2,5,oooo,x,oooo,www,19.0,hh,96.0,960000.0,hh,1,0.000,f,f,wwww,t,n,31.25
3,3,9,oooo,x,oooo,www,120.0,kkk,0.0,0.0,qqq,0,0.335,f,f,uuuu,f,n,48.17
4,4,40,oooo,y,oooo,www,0.0,mmm,232.0,2320000.0,qqqq,0,0.500,t,f,wwww,f,n,32.33

In [76]:
features_object = data.select_dtypes(include=['object'])

In [78]:
df_corr = data
# Encode categorical features
label_encoder = LabelEncoder()

for col in features_object:
    df_corr[col] = label_encoder.fit_transform(df_corr[col])

# Compute the correlation matrix
correlation_matrix = df_corr.corr()
print(correlation_matrix)

             ID       UKL      GJAH       ZIK       HUI       ERZ       CDx  \
ID     1.000000  0.014324 -0.064574 -0.084820 -0.026516  0.054450  0.025607
UKL    0.014324  1.000000 -0.153489 -0.005195 -0.103472  0.085023  0.017122
GJAH  -0.064574 -0.153489  1.000000  0.028384 -0.057361 -0.738061 -0.167611
ZIK   -0.084820 -0.005195  0.028384  1.000000  0.204673 -0.187237  0.075438
HUI   -0.026516 -0.103472 -0.057361  0.204673  1.000000 -0.143220  0.038454
ERZ    0.054450  0.085023 -0.738061 -0.187237 -0.143220  1.000000 -0.203215
CDx    0.025607  0.017122 -0.167611  0.075438  0.038454 -0.203215  1.000000
BJZHD  0.026066 -0.061222  0.123224  0.015256  0.029938 -0.021287 -0.122146
NKJUD -0.020351  0.030814  0.096362  0.049817  0.011977 -0.181914  0.145232
LPI   -0.020351  0.030814  0.096362  0.049817  0.011977 -0.181914  0.145232
BJKG   0.009677 -0.053672  0.035539 -0.004047  0.098792  0.020970  0.030955
POUG   0.073644  0.070091 -0.036577 -0.252567 -0.153437  0.074941 -0.007082
TRE    0.066957  0.064982 -0.102383 -0.095498 -0.030848  0.072583 -0.004123
ZUB    0.018786  0.025770  0.109183 -0.029849 -0.096988 -0.171140  0.036778
VOL    0.239203  0.079013 -0.056392 -0.228720 -0.264635  0.214103 -0.042271
UIO   -0.010595 -0.126597  0.070059  0.019273  0.023101 -0.044526  0.003780
VBNM   0.103292  0.118051 -0.090738 -0.507300 -0.293523  0.166765  0.002502
Type   0.430267  0.029688 -0.128814 -0.176833 -0.055473  0.102442  0.066893
OIN    0.025784  0.007008 -0.106292 -0.069005 -0.086589  0.177682 -0.007921

          BJZHD     NKJUD       LPI      BJKG      POUG       TRE       ZUB  \
ID     0.026066 -0.020351 -0.020351  0.009677  0.073644  0.066957  0.018786
UKL   -0.061222  0.030814  0.030814 -0.053672  0.070091  0.064982  0.025770
GJAH   0.123224  0.096362  0.096362  0.035539 -0.036577 -0.102383  0.109183
ZIK    0.015256  0.049817  0.049817 -0.004047 -0.252567 -0.095498 -0.029849
HUI    0.029938  0.011977  0.011977  0.098792 -0.153437 -0.030848 -0.096988
ERZ   -0.021287 -0.181914 -0.181914  0.020970  0.074941  0.072583 -0.171140
CDx   -0.122146  0.145232  0.145232  0.030955 -0.007082 -0.004123  0.036778
BJZHD  1.000000  0.063035  0.063035  0.095797 -0.058080 -0.026787  0.049629
NKJUD  0.063035  1.000000  1.000000  0.026118 -0.140458 -0.195718  0.196813
LPI    0.063035  1.000000  1.000000  0.026118 -0.140458 -0.195718  0.196813
BJKG   0.095797  0.026118  0.026118  1.000000  0.006988 -0.177833 -0.069913
POUG  -0.058080 -0.140458 -0.140458  0.006988  1.000000  0.304266  0.025955
TRE   -0.026787 -0.195718 -0.195718 -0.177833  0.304266  1.000000  0.121654
ZUB    0.049629  0.196813  0.196813 -0.069913  0.025955  0.121654  1.000000
VOL   -0.003983 -0.079790 -0.079790 -0.060624  0.238122  0.207851  0.063239
UIO    0.149486  0.101042  0.101042  0.061051  0.018577  0.173827  0.135270
VBNM  -0.013128 -0.071133 -0.071133  0.006940  0.497864  0.177360  0.010270
Type   0.062536 -0.053624 -0.053624  0.011206  0.153039  0.141394  0.042168
OIN   -0.192861 -0.149966 -0.149966 -0.147417  0.210427  0.511143  0.133060

            VOL       UIO      VBNM      Type       OIN
ID     0.239203 -0.010595  0.103292  0.430267  0.025784
UKL    0.079013 -0.126597  0.118051  0.029688  0.007008
GJAH  -0.056392  0.070059 -0.090738 -0.128814 -0.106292
ZIK   -0.228720  0.019273 -0.507300 -0.176833 -0.069005
HUI   -0.264635  0.023101 -0.293523 -0.055473 -0.086589
ERZ    0.214103 -0.044526  0.166765  0.102442  0.177682
CDx   -0.042271  0.003780  0.002502  0.066893 -0.007921
BJZHD -0.003983  0.149486 -0.013128  0.062536 -0.192861
NKJUD -0.079790  0.101042 -0.071133 -0.053624 -0.149966
LPI   -0.079790  0.101042 -0.071133 -0.053624 -0.149966
BJKG  -0.060624  0.061051  0.006940  0.011206 -0.147417
POUG   0.238122  0.018577  0.497864  0.153039  0.210427
TRE    0.207851  0.173827  0.177360  0.141394  0.511143
ZUB    0.063239  0.135270  0.010270  0.042168  0.133060
VOL    1.000000 -0.056598  0.399801  0.545244  0.125821
UIO   -0.056598  1.000000 -0.073279 -0.035487  0.030818
VBNM   0.399801 -0.073279  1.000000  0.218894  0.068986
Type   0.545244 -0.035487  0.218894  1.000000  0.064317
OIN    0.125821  0.030818  0.068986  0.064317  1.000000

Hypothesis testing - is at least 1 pred useful?

Check if the relationship is linear, if the variances are equal, if the covariances are equal, etc.

Maybe try Lasso regression, too many features, maybe we can somehow do feature selection